<launch>

    <!-- args-->
    <arg name="rate" default="10"/>
    <arg name="pub_string" default="Hello World" />

    <!-- lingao base_driver -->
    <node pkg="template_sub_pub" name="chatter" type="template_node" output="screen">
        <param name="rate" value="$(arg rate)"/>
        <param name="pub_string" value="$(arg pub_string)"/>

    </node>

</launch>